<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">

    <title>Forgot Password</title>
</head>

<body class="container-2">
    <header>
        <nav>
            <ul class="nav">
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="createAccount-cont ">
        <h1 class="createAccountTitle">Forgot Password</h1>
        <form class="createAccountForm" action="" method="POST">
            <div class="createEmail-block">
                <h3>Email Address</h3>
                <input class="createEmailInput" name='email' type="text" placeholder="you@example.com">
            </div>

            <% if((typeof err !='undefined' )) {%>
                <p class="errorMessage">
                    <%= err %>
                </p>
                <% } %>
                    <button class="createAccountBtn" type="submit">Receive Token</button>
        </form>

    </div>
</body>

</html>