<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Security</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li><a href="createAccount">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="createAccount">
            <h1 class="createTitle">Create Account</h1>
            <div class="createDescription">
                <p >Sign up and learn about great new ways to secure your website!</p>
                <button class="createBtn" type="submit"><a href="./createAccount">Create Account</a></button>
            </div>
        </div>
        <div class="signin">
            <h1 class="signTitle">Welcome Back</h1>
            <form class="loginForm" action="#" method="POST">
                <div class="email-block">
                    <h3>Email Address</h3>
                    <input class="loginInput" name="email" type="text" placeholder="you@example.com">
                </div>

                <div class="password-block">
                    <h3>Password</h3>
                    <span><a class="forgotPassword" href=""#>Forgot Password?</a></span>
                    <input class="loginInput " name="password" type="password" placeholder="Enter 6 or more character">
                </div>
                <div class="save-info">
                    <input type="checkbox">
                    <span>Remember Me</span>
                </div>
                <% if((typeof err != 'undefined')) {%>
                    <p class="errorMessage"><%= err %></p>
                <% } %>
                <button class="loginBtn" type="submit">Login</button>
        </form>

        </div>
    </div>
    <script src="/js/login.js"></script>

</body>
</html>